.view-product-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 40px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  /* border: 1px solid gray; */
  margin: 20px 30px;
  height: 80vh;
}

.image-section {
  flex: 2;
  max-width: 500px;
}

.embla__viewport {
  overflow: hidden;
}
.embla__container {
  display: flex;
  /* border: 1px solid black; */
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}
.carousel-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.carousel-buttons button {
  margin: 10px;
  padding: 4px 8px;
  font-size: 24px;
  font-weight: 500;
  background-color: #adadad;
  color: white;
  transition: 0.5s;
}
.carousel-buttons button:hover {
  cursor: pointer;
  background-color: #333;
}

.view-product-image {
  width: 100%;
  height: 100%; /* Allow height to adjust based on the aspect ratio */
  max-height: 150px; /* Limit the height to 150px to maintain the desired size */
  object-fit: contain; /* Ensure the whole image is visible without cropping */
  /* margin-top: 100px; */
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  /* border: 1px solid #333; */
}

.details-section {
  flex: 1;
  max-width: 600px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product-title {
  font-size: 2rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 15px;
}

.product-description {
  font-size: 1rem;
  color: #555;
  line-height: 1.6;
  margin-bottom: 20px;
}

.tags-section {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.product-tag {
  font-size: 0.9rem;
  color: #ffffff;
  background-color: #007bff;
  padding: 5px 10px;
  border-radius: 15px;
  transition: background-color 0.3s ease;
}

.product-tag:hover {
  background-color: #0056b3;
}
