.view-product-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 40px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  /* border: 1px solid gray; */
  margin: 20px 30px;
  height: 80vh;
}

.image-section {
  flex: 2;
  max-width: 500px;
}

/* Embla Viewport */
.embla {
  position: relative;
  width: 100%;
}

.embla__viewport {
  overflow: hidden;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: #f7f7f7;
}

.embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
  transform: translate3d(0, 0, 0); /* Enable hardware acceleration */
  transition: transform 0.3s ease;
}

.embla__slide {
  position: relative;
  flex: 0 0 100%; /* Takes full width of container */
  min-width: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.view-product-image {
  width: 100%;
  height: auto;
  max-height: 300px;
  object-fit: contain;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.carousel-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
  position: relative;
  z-index: 1;
}

.carousel-buttons button {
  padding: 6px 10px;
  font-size: 20px;
  font-weight: 600;
  background-color: #adadad;
  color: white;
  border-radius: 5px;
  border: none;
  transition: all 0.3s ease;
  cursor: pointer;
}

.carousel-buttons button:hover {
  background-color: #333;
  color: #fff;
}

/* Prevent scroll bleeding */
.embla__container > * {
  flex-shrink: 0;
}
.details-section {
  flex: 1;
  max-width: 600px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product-title {
  font-size: 2rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 15px;
}

.product-description {
  font-size: 1rem;
  color: #555;
  line-height: 1.6;
  margin-bottom: 20px;
}

.tags-section {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.product-tag {
  font-size: 0.9rem;
  color: #ffffff;
  background-color: #007bff;
  padding: 5px 10px;
  border-radius: 15px;
  transition: background-color 0.3s ease;
}

.product-tag:hover {
  background-color: #0056b3;
}
